@font-face {
    font-family: 'stengazeta';
    src: url('./fonts/Stengazeta-Regular_5.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'finlandica';
    src: url('./fonts/Finlandica-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Gentium Book Plus';
    src: url('./fonts/GentiumBookPlus-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Gentium Book Plus bold';
    src: url('./fonts/GentiumBookPlus-Bold.ttf') format('truetype');
  }

  @font-face{
	  font-family: 'Afacad';
	  src: url("./fonts/Afacad-Regular.ttf") format('truetype');
  }

  @font-face{
	  font-family: 'Afacad bold';
	  src: url("./fonts/Afacad-Bold.ttf") format('truetype');
  }

  @font-face{
  	font-family: 'Comfortaa';
	src: url("./fonts/static/Comfortaa-Regular.ttf") format('truetype');
}

  @font-face{
	font-family: 'Comfortaa bold';
	src: url("./fonts/static/Comfortaa-Bold.ttf") format('truetype');
  }
  
  body {
    /* font-family: 'finlandica'; */
    /* background-image: linear-gradient(to right, rgb(208, 196, 182), rgb(236, 225, 207), rgb(208, 196, 182)); */
    /* background-image: linear-gradient(to right,  */
    /*     rgb(208, 196, 182),  */
    /*     rgb(232,220,204), /* Промежуточный цвет между крайним левым и серединой */ 
    /*     rgb(236, 225, 207),  */
    /*     rgb(232,220,204), /* Промежуточный цвет между серединой и крайним правым */ 
    /*     rgb(208, 196, 182)); */
  
    margin: 0;
    padding: 0;
	height: 100vh;
	width: 100%;
	overflow-y:hidden;
	background-color: rgba(224, 227, 255, 1);
  }
  
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root{
	width: 100%;
	height: 100%;
	position: relative;
	overflow-x: hidden;
}

.not-found{
  width: 1000px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30%;
  text-align: center;
}

.not-found h1{
  font-size: 68px;
}

.not-found p{
  font-size: 34px;
}
