
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
	color: black;
	position: relative;
	z-index: 100;
}

/* .logo, .nav-bar-left, .nav-bar-right, .nav-bar-select-page .icons {
    flex: 1;
    display: flex;
    justify-content: center;
} */

.logo {
	font-family: "Afacad", sans-serif; /* название шрифта */
	font-weight: 700;                  /* жирность 700 */
	font-size: 24px;                   /* размер шрифта 24px */
	line-height: 32px;                 /* высота строки 32px */
	letter-spacing: 0; 
	width: 50%;
}

.logo p{
	margin-left: 96px;
}

.nav-bar {
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	width: 50%;
}

.nav-bar-left, .nav-bar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	align-items: center;
}

.nav-bar-left{
	width: 457px;
}

.nav-bar-menu{
    font-family: "Comfortaa", sans-serif; /* шрифт */
  	font-weight: 400;                     /* нормальная жирность */
  	font-size: 14px;                      /* размер шрифта */
  	line-height: 15.61px;                 /* высота строки */
  	letter-spacing: 0;                    /* межбуквенный интервал (0% = 0) */
}
.nav-bar-menu-active{
	font-family: "Comfortaa", sans-serif; /* шрифт */
  	font-weight: 700;                     /* нормальная жирность */
  	font-size: 14px;                      /* размер шрифта */
  	line-height: 15.61px;                 /* высота строки */
  	letter-spacing: 0;  /* межбуквенный интервал (0% = 0) */
	color: rgba(0, 5, 95, 1);
}

.nav-bar-lang{
	display: flex;
	flex-direction: row;
	width: 64px;
	justify-content: space-around;
}

.nav-bar-menu:hover{
    font-family: "Comfortaa", sans-serif; /* шрифт */
  	font-weight: 700;                     /* нормальная жирность */
  	font-size: 14px;                      /* размер шрифта */
  	line-height: 15.61px;                 /* высота строки */
  	letter-spacing: 0;  /* межбуквенный интервал (0% = 0) */
	color: rgba(0, 5, 95, 1);

}

.nav-bar-lang{
	font-family: "Comfortaa", sans-serif; /* шрифт */
  	font-weight: 700;                     /* нормальная жирность */
  	font-size: 14px;                      /* размер шрифта */
  	line-height: 15.61px;                 /* высота строки */
  	letter-spacing: 0;  /* межбуквенный интервал (0% = 0) */
}

.nav-bar-enter{
	width: 102px;
	height: 28px;
	border-radius: 34px;
	padding: 6px 33px;
	background: linear-gradient(90deg, rgba(40, 0, 216, 1) 0%, rgba(183, 188, 239, 1) 100%);
	color: white;
	font-family: "Comfortaa";
	box-sizing: border-box;
	margin-left: 46px;
}

.nav-bar-select-page{
    width: 200px;
    text-align: center;
    justify-content: center;
}

.active{
    color: rgb(7,37,52);
    /* padding-left: 30px;
    padding-right: 30px; */
    font-size: 35px;
    margin: 0;
    margin-top: 10px;
    font-family: 'stengazeta';
}

.icons {
    /* width: 130px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.icons-list{
    display: flex;
    justify-content: row;
    align-items: center;
}

.icons-list img{
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-right: 5px;
}

.icons-list p{
    font-size: 18px;
    font-family: 'finlandica';
    color: rgb(80,92,90);
}

.icons-list a{
    font-size: 18px;
    font-family: 'finlandica';
    color: rgb(80,92,90);
    text-decoration: none;
}

.icons-list a:hover{
    color: rgb(49, 56, 55);
    border-bottom: 2px solid rgb(49, 56, 55);
}

.hr-header{
    margin-top: 0;
    margin-bottom: 4px;
    color: rgb(186,171,150);
}

