.pdf-redactor-section {
	display: flex;
	flex-direction: column;
	width: 880px;
}

.pdf-redactor-tools{
	display:flex;
	flex-direction: row;
	width: 850px;
	height: 40px;
	background-color: #edf2fa;
	border-radius: 40px;
  	text-align: center;
  	border: solid 1px #c7c7c7;
	text-align: center;
	align-content: center;
	align-items: center;
}

.pdf-redactor-tools div{
	display: flex;
	flex-direction: row;
	text-align: center;
	border-right: 1px solid #c7c7c7;
	height: 30px;
	text-align: center;
	align-content: center;
	align-items: center;
	padding-left: 5px;
	padding-right: 5px;
}

.pdf-redactor-tools div:first-child{
	margin-left: 10px;
}

.pdf-redactor-tools div p{
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	align-content: center;
}

.pdf-redactor-tools div p:hover{
	background-color: #d3e3fd;
	border-radius: 5px;
	cursor: pointer;
}

.pdf-redactor-tools div button{
	width: 30px;
	height: 30px;
	padding: 5px;
	border: 0;
	background-color: #edf2fa;
}
.pdf-redactor-tools div button:hover{
	background-color: #d3e3fd;
	border-radius: 5px;
	cursor: pointer;
}

.pdf-redactor-tool-selected {
	background-color: #bbd3fa;
	border-radius: 5px;
	cursor: pointer;
}

.pdf-redactor-page-section{
	width: 850px;
	height: 1300px;
	background-color: #edf2fa;
	border: solid 1px #c7c7c7;
	border-radius: 20px;
	/* text-align: center; */
	/* align-items: center; */
	/* align-content: center; */
	overflow-y: auto;
	display:flex;
	flex-direction: column;
}

.pdf-redactor-page-block{
	display:flex;
	flex-direction:row;
}

.pdf-redactor-page-tools{
	margin-top: 45px;
	margin-right: 3px;
	display: flex;
	flex-direction: column;
	margin-right: auto;
	text-align: center;
}

.pdf-page-tool{
	width: 25px;
	height: 25px;
	background-color: #eaeaea;
	border-radius: 5px;
	text-align: center;
	align-items: center;
	align-content: center;
	border: 1px solid #c7c7c7;
}

.pdf-page-tool:hover{
	background-color: #cccccc;
}

.pdf-page-tool-input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position:absolute;
	z-index: -1;
}

.pdf-redactor-page{
	width: 794px;
	height: 1123px;
	background-color: white;
	margin-left: auto;
	margin-top: 40px;
	border: 1px solid #c7c7c7;
	outline: none;
	word-wrap: break-word;
	padding: 93px;
	box-sizing: border-box;
}


.pdf-redactor-page-edit{
	width: 100%;
	max-height: 935px;
	outline: none;
	word-wrap: break-word;
	word-break: break-word;
	box-sizing: border-box;
	
	font-family: 'Times New Roman', Times, serif;
}

.pdf-redactor-page-edit p{
	caret-color: black;
}

.pdf-redactor-page-edit p span{
	caret-color: black;
}

.pdf-redactor-page-edit:focus{
	border: 0;
	caret-color: black;
}

input[type="number"] {
	width: 35px;
	height: 25px;
	font-size: 14px;
	color: #333;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f9f9f9;
	transition: border-color 0.3s, box-shadow 0.3s;
	text-align: center;
}

input[type="number"]:focus {
	border-color: #0066cc;
	box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
	outline: none;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.central-text-position{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.right-text-position{
	text-align: right;
}

p{
	margin-top: 5px;
	margin-bottom:0;
}
