body{
	counter-reset: page-counter;
}

.pdf-redactor-section {
	display: flex;
	flex-direction: column;
	width: 880px;
	height: 1300px;
	overflow-y: auto;
}

.pdf-redactor-tools{
	display:flex;
	flex-direction: row;
	width: 850px;
	height: 40px;
	background-color: #edf2fa;
	border-radius: 40px;
  	text-align: center;
  	border: solid 1px #c7c7c7;
	text-align: center;
	align-content: center;
	align-items: center;
}

.pdf-redactor-tools div{
	display: flex;
	flex-direction: row;
	text-align: center;
	border-right: 1px solid #c7c7c7;
	height: 30px;
	text-align: center;
	align-content: center;
	align-items: center;
	padding-left: 5px;
	padding-right: 5px;
}

.pdf-redactor-tools div:first-child{
	margin-left: 10px;
}

.pdf-redactor-tools div p{
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	align-content: center;
}

.pdf-redactor-tools div p:hover{
	background-color: #d3e3fd;
	border-radius: 5px;
	cursor: pointer;
}

.pdf-redactor-tools div button{
	width: 30px;
	height: 30px;
	padding: 5px;
	border: 0;
	background-color: #edf2fa;
}
.pdf-redactor-tools div button:hover{
	background-color: #d3e3fd;
	border-radius: 5px;
	cursor: pointer;
}

.pdf-redactor-tool-selected {
	background-color: #bbd3fa;
	border-radius: 5px;
	cursor: pointer;
}

.pdf-redactor-page-section{
	width: 850px;
	height: auto;
	background-color: #edf2fa;
	border: solid 1px #c7c7c7;
	border-radius: 20px;
	/* text-align: center; */
	/* align-items: center; */
	/* align-content: center; */
	overflow-y: auto;
	position: relative;	
	flex-direction: column;
	
}

.pdf-comment{
	width: 852px;
}

.pdf-comment .ck-editor .ck-editor__main{
	border-radius: 0px 0px 20px 20px;
	overflow-y: auto;
	max-height: 250px;
}

.pdf-redactor-page-block{
	display:flex;
	flex-direction:row;
}

.pdf-redactor-page-tools{
	margin-top: 45px;
	margin-right: 3px;
	display: flex;
	flex-direction: column;
	margin-right: auto;
	text-align: center;
}

.pdf-page-tool{
	width: 25px;
	height: 25px;
	background-color: #eaeaea;
	border-radius: 5px;
	text-align: center;
	align-items: center;
	align-content: center;
	border: 1px solid #c7c7c7;
}

.pdf-page-tool:hover{
	background-color: #cccccc;
}

.pdf-page-tool-input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position:absolute;
	z-index: -1;
}

.pdf-redactor-page{
	width: 794px;
	height: 1123px;
	background-color: white;
	margin-left: auto;
	margin-top: 40px;
	border: 1px solid #c7c7c7;
	outline: none;
	word-wrap: break-word;
	padding: 93px;
	box-sizing: border-box;
	counter-increment: page-counter;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.pdf-redactor-page-edit{
	width: 100%;
	max-height: 935px;
	outline: none;
	word-wrap: break-word;
	word-break: break-word;
	box-sizing: border-box;
	
	font-family: 'Times New Roman', Times, serif;
}

.pdf-redactor-page-heading-num-edit{
	width: 100%;
	max-height: 935px;
	outline: none;
	word-wrap: break-word;
	word-break: break-word;
	box-sizing: border-box;

	font-family: 'Times New Roman', Times, serif;
}

.pdf-redactor-page-number{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	top: 45px; /* padding-bottom от исходного padding */
}

.diagonal-strike {
  position: relative;
}

.diagonal-strike::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -20%;
  width: 170%; /* ширина чуть больше, чтобы перекрыть текст полностью */
  height: 1px; /* ширина линии */
  background-color: black; /* цвет линии */
  transform: rotate(-40deg); /* угол наклона */
}

.pdf-redactor-page-edit p{
	caret-color: black;
}

.pdf-redactor-page-edit p span{
	caret-color: black;
}

.pdf-redactor-page-edit:focus{
	border: 0;
	caret-color: black;
}

input[type="number"] {
	width: 35px;
	height: 25px;
	font-size: 14px;
	color: #333;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f9f9f9;
	transition: border-color 0.3s, box-shadow 0.3s;
	text-align: center;
}

input[type="number"]:focus {
	border-color: #0066cc;
	box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
	outline: none;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.left_parPosition{
	text-align: justify;
}

.central_parPosition{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.right_parPosition{
	text-align: right;
}

p{
	margin-top: 5px;
	margin-bottom:0;
}



.comment-window{
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 500px;
	border: 1px solid black;
	border-radius: 25px;
	padding-left: 5px;
	padding-right:5px;
}

.comment-user-info{
	margin-top: 20px;
	margin-bottom: 20px;
}

.comment-content{
	max-width: 340px; /* Ограничьте ширину окна */
    overflow-wrap: break-word; /* Разрешает перенос длинных слов */
    word-wrap: break-word;
    word-break: break-word;
	overflow-y: auto;
}

.font-selector {
  display: flex;
  align-items: center;
  background-color: #edf2fa;
}

.font-select, .font-size-select {
  background-color: #edf2fa;
  border: none;
  padding: 5px;
  font-size: 14px;
  margin-right: 10px;
  color: #202124;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.font-select:focus, .font-size-select:focus {
  outline: none;
}

.font-select:hover{
	background-color: #d3e3fd;
	border-radius: 5px;
}

/* Для имитации стрелок, как в Google Docs, можно использовать псевдоэлементы */
.font-select, .font-size-select {
  position: relative;
}

.font-select::after{
  content: "▼";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  pointer-events: none;
}

.pdf-redactor-heading-num-button{
	width: 60px;
}

.parHeadingPageNum{
	width: 100%;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	overflow: hidden;
}

/* .parHeadingPageNum span{ */
/* 	flex-shrink: 0; */
/* } */

.spanDots{
	overflow: hidden;
	position: relative;
	white-space: nowrap;
}

/* .parHeadingPageNum .spanDots::before{ */
/* 	content: ".................................................................................................................................."; */
/* 	display: block; */
/* 	width: 100%; */
/* 	white-space: nowrap; */
/* 	overflow: hidden; */
/* } */
